html {
    font-family: helvetica, sans-serif;
    font-size: 16px;
}

$body: 1rem;
$h1-desktop: 3rem;

@font-face {
    font-family: "Right Grotesk Wide Medium";
    src: url("/assets/fonts/Right\ Grotesk/RightGrotesk-WideMedium.ttf");
}
@font-face {
    font-family: "Right Grotesk Fine";
    src: url("/assets/fonts/Right\ Grotesk/RightGrotesk-Fine.ttf");
}
@font-face {
    font-family: "Right Grotesk Medium";
    src: url("/assets/fonts/Right\ Grotesk/RightGrotesk-Medium.ttf");
}



h1 {
    font-size: 3rem;
}

h2 {
    font-family: "Right Grotesk Wide Medium", sans-serif;
    font-size: 1.5rem;
}

h3 {
    font-family: "Right Grotesk Fine", sans-serif;
    font-size: 1.25rem;

}