@use '../abstracts' as *;

nav {
    padding: 1.5rem 1rem 0rem;
    background-color: $sunny;
    position: absolute;
    // left: 50%;
    // top: 50%;
    inset: 50% 50%;
    transform: translate(-50%, calc(-50% + calc(375px - 50px)));
    width: 371px;
    height: 96px;
    border-radius: 0 0 48px 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav__item {
    color: $raisin;
    font-size: $body;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__item__text {
    font-size: 1rem;
}
.nav__item__icon {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../../assets/icons/icon_leaderboard.svg);
    margin-bottom: 0.5rem;
}
.icon--balance {
    background-image: url(../../assets/icons/icon_balance.svg);

}
.icon--transaction {
    background-image: url(../../assets/icons/icon_transaction.svg);

}