@use '../abstracts' as *;

nav {
    padding: 1.5rem 1rem 0rem;
    background-color: $sunny;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 96px;
    border-radius: 0 0 50px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav__item {
    color: $raisin;
    font-size: $body;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__item__text {
    font-size: 1rem;
}
.nav__item__icon {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../../../public/icon_leaderboard.svg);
    margin-bottom: 0.5rem;
}
.icon--balance {
    background-image: url(../../../public/icon_balance.svg);

}
.icon--transaction {
    background-image: url(../../../public/icon_transaction.svg);

}